<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Information</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
  </head>
  <body>
    <div class="container" align='center'>
      <h1>SaiRam Movies</h1>
      <p>Upto date Movies information</p>
      <a href="addmovie" class="btn btn-primary" role='button'>ADD</a>
      <a href="movielist" class="btn btn-primary" role="button">MOVIES LIST</a>
    </div>
  </body>
</html>
